@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700,900&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  padding-top: 4.6rem;
}

@media (min-width: 1024px) {
  body {
    padding-top: 5.5rem;
  }
}

/*********Styles of html tags**********/
a:hover {
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  margin-bottom: 0 !important;
}

hr {
  background-color: #f8b624;
  border-top: 0;
  height: 0.1875rem;
  margin-top: 0.5rem;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0;
}

ul li a {
  font-size: 1rem;
  line-height: 1;
}

ol {
  padding-left: 1.5rem;
}

@media (min-width: 992px) {
  ul li a {
    font-size: 1.125rem;
    line-height: 2;
  }
}

/*********Rewriting boostrap styles**************/
.btn {
  border-radius: 0 !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif !important;
  display: block;
  font-weight: 500;
}

.btn-primary {
  background-color: #03224e !important;
  border-color: transparent !important;
  transition: all 1s;
}

.btn-primary:hover {
  color: #03224e !important;
  box-shadow: 20rem 0 #f8b624 inset, -20rem 0 #f8b624 inset !important;
  border-color: #f8b624 !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-outline-light {
  transition: all 1s;
}

.btn-outline-light:focus {
  box-shadow: none !important;
}

.btn-outline-light:hover {
  color: #03224e !important;
  box-shadow: 20rem 0 #f8b624 inset, -20rem 0 #f8b624 inset !important;
  border-color: #f8b624 !important;
}

@media (min-width: 500px) {
  .btn {
    font-size: 1.125rem;
    padding: 0.375rem 3.5rem;
    display: inline-block;
  }

  .btn.btn-primary {
    padding: 0.375rem 2.5rem;
  }
}

/*Navegation menu*/
header {
  background: #03224e;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .container-menu .logo .logo-name img {
  display: none;
}

.menu .container-menu .logo .btn-menu {
  display: none;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.menu .container-menu .logo .btn-menu {
  display: none;
  text-decoration: none;
  color: #fff;
}

.menu .container-menu .logo .btn-menu:hover {
  color: #f8b624;
}

.menu .menu-link {
  margin: 0 auto;
}

.menu .menu-link a {
  width: 10rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  vertical-align: middle;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.menu .menu-link a.opc {
  line-height: 1.25;
}

.menu .menu-link a.opc:hover {
  padding: 22.5px 0;
}

.menu .menu-link a.logo-center {
  width: 8.125rem;
  height: 90px;
  position: relative;
  top: 0;
}

.menu .menu-link .logo-center img {
  display: inline-block;
  height: 135px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu .menu-link a.logo-center:hover {
  background: transparent;
}

.menu .menu-link a:hover {
  background: linear-gradient(
    0deg,
    rgba(248, 181, 36, 1) 0%,
    rgba(254, 200, 54, 1) 100%
  );
  color: #03224e;
  padding: 31.5px 0;
}

/*Menu Effects*/
.headroom {
  transition: transform 0.3s ease;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

@media (max-width: 1119px) {
  .menu .menu-link a {
    width: 8.8rem;
  }
}

@media (max-width: 1023px) {
  .menu {
    width: 90%;
    padding: 0.5rem 0;
  }

  .menu .container-menu .logo .btn-menu {
    display: block;
  }

  .menu .container-menu .logo .btn-menu:hover {
    color: #f8b624;
  }

  .menu .container-menu {
    width: 100%;
  }

  .menu .container-menu .logo .logo-name img {
    display: block;
    height: 5.625rem;
    position: absolute;
    top: 16px;
    z-index: 100;
  }

  .menu .container-menu .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu .menu-link .logo-center {
    display: none;
  }

  .menu .menu-link {
    position: absolute;
    background: rgba(27, 63, 115, 0.95);
    height: 100vh;
    width: 100%;
    top: 4.7rem;
    left: -100%;
    z-index: 50;
    transition: all 0.2s;
  }

  .menu .menu-link a {
    padding: 0.9375rem;
    display: block;
    width: 100%;
    border-bottom: 0.125rem solid #adb5bd26;
  }

  .menu .menu-link a:hover {
    padding: 0.9375rem;
  }

  .menu .menu-link a.opc {
    line-height: 1.5;
  }

  .menu .menu-link a.opc:hover {
    padding: 0.9375rem;
  }
}

/*Utilities*/
.img-back {
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.img-back:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.img-back h2 {
  position: relative;
}

.img-back-header {
  background-image: url("../img/img-instalacion1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-back-header:before {
  content: "";
  width: 100%;
  position: absolute;
  background: rgb(219, 224, 236);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

.content-back-header {
  position: relative;
  text-align: center;
}

.content-back-header p {
  color: #03224e;
}

@media (min-width: 768px) {
  .content-back-header hr {
    width: 50%;
    margin: 0.1rem auto 1rem;
  }
}

.text-back-header span {
  font-weight: 700;
}

.h-md-back-3 {
  height: 300px;
}

.h-md-back-2 {
  height: 250px;
}

/**********index page********/

/*Banner*/
.banner {
  position: relative;
  width: 100%;
  height: calc(65vh - 5.6875rem);
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-animation: banner 16s infinite linear;
  animation: banner 16s infinite linear;
}

@media (min-width: 1200px) {
  .banner {
    height: calc(85vh - 5.6875rem);
  }
}

.banner-content {
  background: rgba(186, 197, 223, 0.65);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #03224e;
}

.header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 900;
  padding-bottom: 0.9375rem;
  text-align: center;
  width: 95%;
}

@media (min-width: 1024px) {
  .header-banner {
    font-size: 3.5rem;
  }
}

.sub-header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  padding: 0 1.25rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .sub-header-banner {
    font-size: 1.875rem;
  }
}

@-webkit-keyframes banner {
  0% {
    background-image: url("../img/img-banner1.jpg");
  }
  25% {
    background-image: url("../img/img-banner1.jpg");
  }
  26% {
    background-image: url("../img/img-banner2.jpg");
  }
  50% {
    background-image: url("../img/img-banner2.jpg");
  }
  51% {
    background-image: url("../img/img-banner3.jpg");
  }
  75% {
    background-image: url("../img/img-banner3.jpg");
  }
  76% {
    background-image: url("../img/img-banner4.jpg");
  }
  100% {
    background-image: url("../img/img-banner4.jpg");
  }
}

@keyframes banner {
  0% {
    background-image: url("../img/img-banner1.jpg");
  }
  25% {
    background-image: url("../img/img-banner1.jpg");
  }
  26% {
    background-image: url("../img/img-banner2.jpg");
  }
  50% {
    background-image: url("../img/img-banner2.jpg");
  }
  51% {
    background-image: url("../img/img-banner3.jpg");
  }
  75% {
    background-image: url("../img/img-banner3.jpg");
  }
  76% {
    background-image: url("../img/img-banner4.jpg");
  }
  100% {
    background-image: url("../img/img-banner4.jpg");
  }
}

/*Welcome section */
.content-bienvenida p {
  text-align: justify;
  line-height: 2;
}

.img-bienvenida {
  display: none;
}

@media (min-width: 992px) {
  .sec-bienvenida {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-bienvenida {
    display: block;
    text-align: center;
  }
}

/*Educative offer section*/
.img-oferta {
  background-image: url("../img/img-instalacion3.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-oferta:before {
  content: "";
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgb(3, 34, 78) 0%, rgb(3, 118, 136) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
}

.text-oferta {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.text-oferta h4,
.text-oferta a {
  flex: 0 0 100%;
}

.text-oferta h4 {
  color: #fff;
}

@media (min-width: 768px) {
  .img-oferta {
    height: 170px;
  }

  .text-oferta {
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }

  .text-oferta h4 {
    flex-basis: 60%;
  }

  .text-oferta a {
    flex-basis: calc(40% - 2.5rem);
  }
}

@media (min-width: 1024px) {
  .img-oferta {
    height: 150px;
  }
}

/*Link section*/
.text-kinder p {
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  color: #03224e;
  font-weight: 500;
  line-height: 2;
}

@media (min-width: 768px) {
  .text-kinder p {
    text-align: justify;
    line-height: 1.5;
  }
}

.text-kinder p span {
  color: #c80b63;
  font-weight: 600;
}

.btn-sec-1 {
  display: none;
}

.btn-sec-2 {
  display: block;
}

@media (min-width: 768px) {
  .text-kinder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-right: 2.5rem;
  }

  .img-back .btn-sec-1 {
    display: inline-block;
  }

  .img-back .btn-sec-2 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .text-kinder p {
    font-size: 22px;
    text-align: left;
    line-height: 2;
  }
}

/*Contact section*/
.sec-contacto {
  /* background: rgb(242,218,24);
background: linear-gradient(90deg, rgba(242,218,24,1) 0%, rgba(217,143,31,1) 100%, rgba(12,57,74,1) 100%); */
  background: #052552;
  background: -webkit-linear-gradient(180deg, #0a457b, #000428);
  background: linear-gradient(180deg, #0a457b, #000428);
  text-align: center;
}

.sec-contacto p {
  font-family: "Roboto", sans-serif !important;
  color: #fff;
  text-align: center;
}

.sec-contacto .header-contacto p {
  font-weight: 600;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .sec-contacto .header-contacto p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .sec-contacto .header-contacto p {
    font-size: 1.5rem;
  }
}

/**********footer***********/

/*first section*/
.sec-footer {
  font-family: "Roboto", sans-serif;
  /*  background: #052552; */
  background: #aebcce5c;
}

.sec-footer ul li a,
.sec-footer p,
.sec-footer i {
  color: #03224e;
}

.img-footer {
  height: 7.75rem;
}

.img-footer-2 {
  display: none;
}

@media (min-width: 768px) {
  .img-footer {
    display: none;
  }

  .img-footer-2 {
    display: block;
  }

  .size-img-footer {
    width: 6.25rem;
  }
}

@media (min-width: 992px) {
  .img-footer {
    display: block;
    height: auto;
    padding: 2.5rem 4rem;
  }

  .img-footer-2 {
    display: none;
  }
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

footer a {
  color: #fff;
}

footer .sec-footer ul li a:hover {
  color: #c48908;
}

footer .sec-footer .redes a i:hover {
  color: #c48908;
}

.icon {
  font-size: 1.25rem;
}

.icon-2 {
  font-size: 1.5625rem;
}

/*second section*/
.sec-copyright {
  background-color: #000213;
  text-align: center;
}

.sec-content-copy p,
.sec-content-copy a {
  color: #ffffff;
}

.sec-content-copy a:hover {
  color: #f8b624;
}

.nav-footer a {
  display: block;
}

@media (min-width: 768px) {
  .sec-content-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-footer a {
    display: inline-block;
    border-left: 0.0625rem solid #ffffff;
    padding-left: 0.3125rem;
  }

  .nav-footer a:first-of-type {
    border-left: 0;
    padding-left: 0;
  }
}

/********Contact page**************/
.sec-contact {
  background-image: url("../img/img-instalacion1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-contact:before {
  content: "";
  width: 100%;
  position: absolute;
  /* background: rgb(32, 65, 113); */
  background: rgb(219, 224, 236);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

.content-contact {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-contact,
.form-contact {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.text-contact p span {
  font-weight: bolder;
}

@media (min-width: 768px) {
  .content-contact {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-contact {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .text-contact {
    -webkit-flex-basis: calc(40% - 2.5rem);
    -ms-flex-preferred-size: calc(40% - 2.5rem);
    flex-basis: calc(40% - 2.5rem);
  }
}

@media (min-width: 1024px) {
  .form-contact {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }

  .text-contact {
    -webkit-flex-basis: calc(45% - 4rem);
    -ms-flex-preferred-size: calc(45% - 4rem);
    flex-basis: calc(45% - 4rem);
  }
}

.text-contact p {
  font-family: "Roboto", sans-serif;
  color: #03224e;
}

.content-contact h2,
.content-contact p {
  color: #03224e;
}

.form-contact {
  background-color: #f7f9f9;
  width: 80%;
  padding-bottom: 0.625rem;
  border-radius: 0.0625rem;
}

@media (min-width: 1024px) {
  .form-contact,
  .form-opinion {
    padding: 0 1.25rem 0.625rem;
  }
}

form .group {
  position: relative;
  margin: 2.1rem auto;
}

.fi .two-group {
  position: relative;
  margin: 1rem auto;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  color: #646161;
  font-size: 1rem;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.0625rem solid #49454567;
  resize: none;
}

.form-contact input,
.form-contact textarea {
  background-color: #f7f9f9;
}

@media (min-width: 768px) {
  input,
  textarea {
    font-size: 1.125rem;
  }
}

input:focus,
textarea:focus {
  outline: none;
  color: #242222;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -0.875rem;
  font-size: 1rem;
  font-weight: 500;
  color: #03224e;
}

@media (min-width: 768px) {
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    font-size: 1.125rem;
  }
}

label {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 0.625rem;
  top: 0.9375rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  pointer-events: none;
}

@media (min-width: 768px) {
  label {
    font-size: 1.125rem;
  }
}

.two-group label {
  left: 1.625rem;
}

input:focus ~ .barra:before,
textarea:focus ~ .barra:before {
  width: 100%;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra:before {
  content: "";
  height: 0.15rem;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a2980,
    #f8b624
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #1a2980, #f8b624);
  background: linear-gradient(
    to right,
    #1a2980,
    #f8b624
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  left: 0%;
}

.input-error {
  color: #dc3545;
  font-weight: 600;
}

.alert-successful {
  padding: 1rem;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #28a745;
  background-color: #209b3d;
}

.form-contact p {
  color: #fff;
}

button.btn {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  button.btn {
    width: 50%;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  button.btn {
    width: 40%;
  }
}

.sec-map {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-horario {
  color: #03224e;
}

@media (min-width: 768px) {
  .text-map {
    width: 50%;
  }

  .content-horario {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-horario {
    width: 50%;
  }
}

/*Page gallery*/
.sec-gallery .pgwSlideshow {
  position: relative;
}

.pgwSlideshow {
  background: #e6e6e64a !important;
}

.pgwSlideshow .ps-list {
  border-top: 0 !important;
  box-shadow: 0 10px 10px -5px #b3b2b2 inset !important;
  background: #ccc9c9 !important;
}

/********Us pag************/

.sec-mi-vi {
  background: #052552;
  background: -webkit-linear-gradient(180deg, #0a457b, #000428);
  background: linear-gradient(180deg, #0a457b, #000428);
}

.sec-mi-vi-header hr {
  margin: 0.1rem auto 0.1rem;
  width: 50%;
}

.sec-mi-vi-header h3,
.sec-mi-vi {
  color: #fff;
  text-align: center;
}

.sec-mision {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .sec-mision {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0;
  }
}

.content-nosotros,
.sec-admin h3 {
  position: relative;
}

.content-nosotros {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.img-nosotros,
.text-nosotros {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.text-nosotros {
  padding: 16px 0;
}

.text-nosotros p {
  text-align: justify;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .content-nosotros {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-nosotros {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }

  .text-nosotros {
    -webkit-flex-basis: calc(45% - 1.5rem);
    -ms-flex-preferred-size: calc(45% - 1.5rem);
    flex-basis: calc(45% - 1.5rem);
    padding: 0;
  }

  .text-nosotros p {
    line-height: 2;
  }
}

@media (min-width: 1024px) {
  .content-nosotros {
    padding: 20px 20px 0;
  }
}

@media (min-width: 1200px) {
  .content-nosotros {
    padding: 20px 45px 0;
  }

  .img-nosotros {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .text-nosotros {
    -webkit-flex-basis: calc(50% - 2.5rem);
    -ms-flex-preferred-size: calc(50% - 2.5rem);
    flex-basis: calc(50% - 2.5rem);
    padding: 0;
  }
}

.sec-admin p {
  color: #03224e;
}

.sec-admin img {
  width: 200px;
  padding: 10px;
}
.sec-admin hr {
  width: 30%;
  margin: 0.3rem auto 1rem;
}

.sec-opinion {
  background: linear-gradient(0deg, rgb(3, 34, 92) 0%, rgb(9, 62, 114) 100%);
  color: #fff;
  text-align: center;
}

/*Opinion form*/
.form-opinion {
  position: relative;
  background-color: #bcd2ea;
  width: 90%;
  padding-bottom: 0.625rem;
  padding-top: 1px;
  border-radius: 0.0625rem;
}

@media (min-width: 1024px) {
  .form-opinion {
    width: 70%;
  }
}

.form-opinion input,
.form-opinion textarea {
  background-color: #bcd2ea;
}